:root {
  --primary-bg-color: #DBBCA0;
  --text-color: black;
  --main-bg-color: #333;
  --main-text-color: #fff;
  --main-btn-bg-color: #938989;

  /* changed bg and text colours to suit aesthetic */

}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Reenie Beanie', cursive;
   font-size: 50px;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-image: url('light_rain.png');
  background-size: Contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%
  /* I wanted to create a single hand dawn style webpage where you can interact with things in the image to toggle different effects */
}

/* Add additional styles as needed */

/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}



/* Navigation styling */
nav {
  margin-top: 20px;
  text-align: center;
  
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}





/* Media player styling */
.media-player {
  width: 30vw;
  max-width: 800px;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  /* used flex box to bring the media player to the center but I also need it 
  to be positioned int he laptop screen */

  min-height: 100vh;

transform:
  translate(-21vw, -16vh)
  perspective(400px)
  rotate(-15deg)
  skew(-15deg, 0deg)
  /* after searching, I used the w3schools site to look for how to transform (specifically to rotate) and found that i can 
  also transform in 3D so i can fit the media player to look like its actually in the screen*/
  /* after  messing around with 3D transformations, it still didnt look right so i realised i actually just needed
  a skew instead of any 3D rotation*/

 
}

.music-info {
  font-size: 2vw;

}

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 60%;
}

.custom-controls button {
  background-color: transparent; 
  /* I wanted to remover the bg of the button so i made it transparent */
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: transparent;
  border: 2px solid black;
 /* Because I made the play/pause button transparent, the progress bar doesnt look centered anymore, 
 so i removed the padding at the top to make it center again */
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: width 0.3s ease;
  
}



